* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: auto;
    border: 20px solid green;
}

.imgCont {
    width: 300px;
    max-width: 50%;
    border: 20px solid blue;

}

section img {
    width: 100%;
}